@import url(https://db.onlinewebfonts.com/c/89a83d0377679df912f204a4a135fe22?family=Core+Deco+W00+A3);

*{
    margin: 0px;
    padding: 0px;
    font-family: "Core Deco W00 A3",sans-serif;
    background-color: rgb(248, 248, 234);
}

html{
    height:100%;
    width: 100%;
}

body{
    height:100%;
    width: 100%;
    overflow-y: clip; 
    overflow-x: clip; 
}


.header>p{
    font-size: 90px;
}

.header{
    text-align: center;
}

ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 15px;
    justify-content: center;
}

button{
    border: none;
    font-size: 30px;
    padding: 15px;
    font-weight:500;
    outline: none;
}

#container{
    line-height: 23px;
    padding: 30px;
    height: inherit;
}
.homepage{
    background-image: url("./imgs/restaurant.png");
    background-repeat: no-repeat;
    background-size:1000px;
    background-position-y: top;
    background-position-x:center;
}

.menupage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menupage>img{
    margin-bottom: 250px;
}

#container>p{
    font-size: 26px;
    font-weight: 550;
}

.timings{
    justify-content: space-evenly;
    font-size: 24px;
}